.display{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
	h2, input{
		display: inline-block;
	}
}

table{
	width: 100%;
	td{
		padding: 10px;
	}
	th{
		text-align: center;
	}
}

#new-btn{
	margin-top: 40px;
	width: 100%;
}

.dropdown-menu{
	a{
		cursor: pointer;
		display: block;
		width: 100%;
		text-decoration: none;
		color: black;
		padding-left: 10px;
		&:hover{
			background-color: whitesmoke;
		}
	}
}

.modal{
	display: block;
}

// input{
// 	display: block !important;
// }