<!-- Update Modal -->
<div class="modal" tabindex="-1" role="dialog" id="update-record-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Edit a record!</h4>
			</div>
			<form ng-submit="updateRecord(); $close()">
				<div class="modal-body">
					<section>
						<label for="name">Name: </label>
						<input type="text" name="" id="name" ng-model="recordToChange.name">
					</section>
					<section>
						<label for="email">Email: </label>
						<input type="email" name="" id="email" ng-model="recordToChange.email">
					</section>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" ng-click="$dismiss()">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->